@page "/"

<AuthorizeView Roles="Administrador">
    <Authorized Context="AuthenticationState">
        <h1>Bienvenido Administrador</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Usuario">
    <Authorized Context="AuthenticationState">
        <h1>Bienvenido Usuario</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <h2>Debe identificarse para poder Iniciar la Aplicacion Web</h2>
    </NotAuthorized> 
</AuthorizeView>
<style>
  body {
    background-image:url('https://st2.depositphotos.com/1002277/10991/i/450/depositphotos_109911610-stock-photo-pixelated-c-sharp-word.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div>
  <h1>Gerson Garcia 2019-1003-218</h1>
  <p>Lenguaje de Porgramacion 3 :D</p>
</div>


<h5>Usuarios usados para el Ingreso </h5>
<h6>Usuario NCASO, Pass 12345</h6>